<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
        <a href = "https://github.com/Mollimop/Mathe" target = "_blank" class = "material-icons">code</a>
      </div>
      <!-- Title -->
      <span class="mdl-layout-title">quadratic function calculator</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">With a, b, and c</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">with three points on the graph</a>
    </div>
  </header>
  
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <!-- content tab 1 -->
        <%= render 'layouts/tab1' %>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div class="page-content">
        <!-- content tab 2 -->
        <%= render 'layouts/tab2' %>
      </div>
    </section>
  </main>

</div>
